.Card {
  height: 250px;
  width: 300px;
  margin: 20px;
  padding: 0 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 6px 10px 12px rgba(44, 43, 43, 0.8);
  background: linear-gradient(to right, rgb(235, 224, 124), rgb(241, 103, 79));
}

.Card:hover {
  transform: scale(1.1);
  box-shadow: 9px 12px 14px rgba(31, 30, 30, 0.8);
  background: linear-gradient(to right, rgb(44, 43, 44), rgb(159, 161, 161));
}

.img {
  height: 200px;
  width: 200px;
}

.name {
  color: beige;
  text-transform: capitalize;
}
